
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Hang, <%= @user.email %></h1>
    <p>
      You're now part of an awesome thing.
    </p>
    <p>
      To login to the site, just follow this link: [WOAH THERE].
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>