<div class="container">
	<h1 class="my-4 text-center text-lg-left">Contact page</h1>
	<p>Want a phone number? Don't have one, sorry.</p>
	<div class="card" style="width: 60rem;">
	    <h4 class="card-title">Card title</h4>
	    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	    <a href="#" class="btn btn-primary">Go somewhere</a>
	  </div>
	</div>
	<h1 class="my-4 text-center text-lg-left">Thumbnail Gallery</h1>

	<canvas
		id = "myChart"
        width="400" height="200">
      </canvas>

      <script>
	var ctx = document.getElementById("myChart");
	var myChart = new Chart(ctx, {
	    type: 'bar',
	    data: {
	        labels: ["day 1", "day 2", "day 3", "day 4", "day 5", "day 6"],
	        datasets: [{
	            label: 'My Weight',
	            data: [82.4, 79.6, 79.3, 78.4, 77.5, 75.1],
	            backgroundColor: [
	                'rgba(0, 0, 0, 0.1)',
	            ],
	            borderColor: [
	                'rgba(0,0,0,0.9)',
	            ],
	            borderWidth: 1
	        }]
	    },
	    options: {
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero:false
	                }
	            }]
	        }
	    }
	});
	</script>

<div class="btn-toolbar dashhead-toolbar">
    <div class="btn-toolbar-item input-with-icon">
      <input type="text" value="01/01/15 - 01/08/15" class="form-control" data-provide="datepicker">
      <span class="icon icon-calendar"></span>
    </div>
  </div>
</div>
</div>