<div class="container">
	<h1 class="my-4 text-center text-lg-left">Contact page</h1>
	<p>Want a phone number? Don't have one, sorry.</p>
	<div class="card" style="width: 60rem;">
	  <img class="card-img-top" src="http://www3.hilton.com/resources/media/hi/en_US/img/shared/carousel/main/HH_meetingroom_970x404_FitToBox_Center.jpg" alt="Card image cap">
	  <div class="card-block">
	    <h4 class="card-title">Card title</h4>
	    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	    <a href="#" class="btn btn-primary">Go somewhere</a>
	  </div>
	</div>
	<h1 class="my-4 text-center text-lg-left">Thumbnail Gallery</h1>

  	<div class="row text-center text-lg-left">
		<div class="card-deck">
		  <div class="card">
		    <img class="card-img-top" src="http://placehold.it/350x250" alt="Card image cap">
		    <div class="card-block">
		      <h4 class="card-title">Card title</h4>
		      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
		      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		    </div>
		  </div>
		  <div class="card">
		    <img class="card-img-top" src="http://placehold.it/350x250" alt="Card image cap">
		    <div class="card-block">
		      <h4 class="card-title">Card title</h4>
		      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
		      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		    </div>
		  </div>
		  <div class="card">
		    <img class="card-img-top" src="http://placehold.it/350x250" alt="Card image cap">
		    <div class="card-block">
		      <h4 class="card-title">Card title</h4>
		      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
		      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		    </div>
		  </div>
		</div>
  	</div>
</div>