<div class="container">
	<h1 class="my-4 text-center text-lg-left">Contact page</h1>
	<p>Want a phone number? Don't have one, sorry.</p>
	<div class="card" style="width: 60rem;">
	    <h4 class="card-title">Card title</h4>
	    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	    <a href="#" class="btn btn-primary">Go somewhere</a>
	  </div>
	</div>
	<h1 class="my-4 text-center text-lg-left">Thumbnail Gallery</h1>

</div>