<div class='container'>
  <br>
  <div class="row">
    <div class="col-md-6">
    	 <h1></h1>
    </div>
    <div class="col-md-6">
		<h1>New Venue</h1>

		<%= render 'form', venue: @venue , merchant: @merchant %>

		<%= link_to 'Back', venues_path %>
    </div>
  </div>
</div>