
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="card">
    <% if @user.can_make_payments? == false %>
      <h5 id='card-available'> Already a stripe customer. </h5>
    <% else %>
      <div class="card-header text-center">
        <h5 id="card-unavailable"></h5>
        Not a Stripe Customer Yet, Let's Create An Account!
        <div class="card-body">
          <%= form_for @user, html: {class:'form-horizontal add-card', id:"payment-form"} do |f| %>
            <%= f.hidden_field :stripe_temporary_token, id: 'stripe_temporary_token' %>
            <div class="form-row">
              <label for="card-element">
                Credit or debit card 
              </label>
              <!-- <%= text_field_tag :card_number, nil, name: nil, class: 'form-control', data: {stripe: 'number' }, placeholder: 'Card Number' %> -->
              <div id="card-element" >
                <!-- a Stripe Element will be inserted here. -->
              </div>
              <div id="card-errors" role="alert"></div>
            <%= f.submit %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type='text/javascript'>

$(document).ready(function(){
  var stripe = Stripe(gon.stripe_key);
  var elements = stripe.elements();

  // Custom styling can be passed to options when creating an Element.
  var style = {
    base: {
      // Add your base input styles here. For example:
      fontSize: '16px',
      color: "#32325d",
    }
  };

  // Create an instance of the card Element
  var card = elements.create('card', {style: style});

  // Add an instance of the card Element into the `card-element` <div>
  card.mount('#card-element');

  card.addEventListener('change', function(event) {
    var displayError = document.getElementById('card-errors');
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = '';
    }
  });

  var form = document.getElementById('payment-form');
  form.addEventListener('submit', function(event) {
    event.preventDefault();

    stripe.createToken(card).then(function(result) {
      if (result.error) {
        // Inform the customer that there was an error
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        // Send the token to your server#
          alert(result.token.id);
      alert('Submitting form');
      var tok = result.token.id;
      $("input[id=stripe_temporary_token]").val(tok);
        stripeTokenHandler(result.token);
      }
    });
  });

  function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById('payment-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);
    


    // Submit the form
    form.submit();
  }
});

</script>
