<!-- 
<div class="modal fade" id="time_preview">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Time Selected</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <%= @reservation.start %>
      </div>
    </div>
  </div>
</div>
 -->
<br>
<hr class="my-2">

<p class='lead'> Time selected : </p>

<h2 class='strong' style='font-weight:bold'><%= @reservation.start.strftime("%A, %d %b %Y %l:%M %p to") %><%= @reservation.end.strftime(" %I:%M%p")%> </h2>

<hr class="my-2">
