<div class="modal fade" id="time_preview">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Time Selected</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <%= @reservation.start %>
      </div>
    </div>
  </div>
</div>

<h1> <%= @reservation.start %> </h1>

