<div class='container'>

<% if params[:Preview] %>
	Hiii
<% end %>
		<h1 style='margin-bottom:.5em;margin-top:.5em;font-size:55px;'>New Reservation</h1>
	<div class="row">
	    <div class="col-md-4">
	    <br>
	    	<%= image_tag @venue.images[0], class:'img-fluid' %>
	    	<br>
	    	<br>
	    	<div class='card'>
	    		<div class='card-header'>
	    			<h1><%= @venue.name %></h1>
	    		</div>
	    		<div class='card-body'>
	    			Insert stuff here
	    		</div>
	    	</div>

	    </div>
	    <div class="col-md-8">
	    	<br>
			<div class='calendar'></div>
			<%= render 'form', reservation: @reservation %>
			<br>
	    </div>
	</div>
    <br>
    <br>


</div>