<div class='container'>

<% if params[:Preview] %>
	Hiii
<% end %>

	<div class="row">
	    <div class="col-md-4">
	    <br>
	    	<%= image_tag @venue.images[0], class:'img-fluid' %>
	    </div>
	    <div class="col-md-8">
			<h1>New Reservation</h1>

			<%= render 'form', reservation: @reservation %>
			<br>
			<%= link_to 'Back', venue_reservations_path, class:'btn btn-primary' %>
	    </div>
	</div>
    <br>
    <br>

	<div class='calendar'></div>

</div>